@\import "https://valeriolyndon.github.io/MAL-Public-List-Designs/Clarity%20Theme/Theme%20-%20Compressed.css";
@\import "https://malscraper.azurewebsites.net/covers/auto/presets/dataimagelinkbefore";
@\import "https://valeriolyndon.github.io/MAL-Public-List-Designs/Clarity%20Theme/Mod%20-%20Hover%20Image%20Compressed.css";

@\import "https://valeriolyndon.github.io/MAL-Public-List-Designs/Clarity%20Theme/Mod%20-%20Dark%20Mode%20Compressed.css";
body { --avatar: url(https://bg-so-1.zippyimage.com/2024/06/14/602dec29d8091a3ac100bc2651ab7595.png); } body { --name: "devd-rx"; }body { --character: none; }
body { --banner: url(https://t3.ftcdn.net/jpg/04/50/68/84/360_F_450688482_fOmo3GVFOvC2rxFhtCjxsHupq8FY7v8C.jpg); }

/*-S-T-A-R-T--------------------*\
| Favourite Hearts (Left) R0.4   |
\*------------------------------*/
.data.tags span{padding:0}
.data.tags span a{margin:1px 0}
.data.tags span a[href*="=Favorite"],
.data.tags span a[href*="=Favourite"]{
    position:absolute;
    left:-34px;top:calc(50% - 13px);
    width:26px;height:26px;
    padding:0;
    background:var(--bg);
    border-radius:50%;
    color:#3571f3!important;
    font-size:0!important;
    line-height:23px;
    overflow:hidden;
    box-shadow:0 1px 2px rgba(0,0,0,.2)
}
.data.tags span a[href*="=Favorite"]:before,
.data.tags span a[href*="=Favourite"]:before{content:"♥";font-size:26px}
/*------------------------E-N-D-*/
/*-S-T-A-R-T--------------------*\
| Per-Category Banner Image      |
\*------------------------------*/

/* All Anime */
[data-query*='status":7'] { --banner: url(https://bg-so-1.zippyimage.com/2024/06/14/775e7dbe17579536600a5bfd2dab9426.jpg); }
/* Watching/Reading */
[data-query*='status":1'] { --banner: url(https://bg-so-1.zippyimage.com/2024/06/14/9283ee516e94c2d6b8e2a7632058a843.jpg); }
/* Completed */
[data-query*='status":2'] { --banner: url(https://bg-so-1.zippyimage.com/2024/06/14/8c14e4ddb1625c3c203cb1c588421e52.png); }
/* Onhold */
[data-query*='status":3'] { --banner: url(https://bg-so-1.zippyimage.com/2024/06/14/ae64e0e9ecd1b1744cbfcda5ca62b79d.jpg); }
/* Dropped */
[data-query*='status":4'] { --banner: url(https://bg-so-1.zippyimage.com/2024/06/14/e2614de72b24d50d36f9e308493796bf.jpg); }
/* Planned */
[data-query*='status":6'] { --banner: url(https://bg-so-1.zippyimage.com/2024/06/14/4982eb0bdaf53fccdeec55c25d1a1198.jpg); }
/*==============================*\
|       Score  Descriptors       |
\* --- - --- - ---- - --- - --- */

.score-na::before {
	content: "Haven't decided";
}

.score-1::before {
	content: "Unredeemable";
}

.score-2::before {
	content: "Horrid";
}

.score-3::before {
	content: "Awful";
}

.score-4::before {
	content: "Bad";
}

.score-5::before {
	content: "Mediocre";
}

.score-6::before {
	content: "Alright";
}

.score-7::before {
	content: "Good";
}

.score-8::before {
	content: "Great";
}

.score-9::before {
	content: "Fantastic";
}

.score-10::before {
	content: "Incredible";
}

/* Internals */

.score-label {
	position: relative;
	display: inline-block;
	z-index: 0;
	transition: color 0.2s ease;
}

.score-label:hover {
	color: #fff !important;
}

.score-label::before {
	position: absolute;
	top: -4px;
	left: -8px;
	z-index: -1;
	display: block;
	padding: 4px 8px 4px calc(100% + 12px);
	background: #111;
	border-radius: 4px;
	opacity: 0;
	transition: opacity 0.2s ease;
	white-space: pre;
	text-align: left;
	pointer-events: none;
}

.score-label:hover::before {
	opacity: 1;
}